_We're going to be using pandas an json, so lets start with that._

In [34]:
import json
import pandas as pd
import os
from pandas.io.json import json_normalize
import geopandas

# Looking at the json files

_Before we do any real work, can we list the files from our target directory?_

In [35]:
!pwd
! ls ../APIs

/home/vagrant/git/BigData/democratizing_weather_data/democratizing_weather_data/streaming/prototypes
2yahoo.json	     wsdot.TrafficFlows.json  yahoo_weather1line.json
API_index.csv	     wsdot.Traveltimes.json   yahoo_weather2.json
openweathermap.json  yahoo_weather	      yahoo_weather.json

_Nice! Let's examine a json file_

In [36]:
!head ../APIs/yahoo_weather.json

{
    "query": {
        "count": 1,
        "created": "2017-07-29T23:51:25Z",
        "lang": "en-US",
        "diagnostics": {
            "publiclyCallable": "true",
            "url": {
                "execution-start-time": "1",
                "execution-stop-time": "5",

# Exploring JSON from the Yahoo Weather API

_Read a json file from disk (we'll use ../API/<tbd>.json
We should reall use the yahoo api output, since we know how to convert that to a csv_

Source [Andy Hayden on ghthub.io](http://hayd.github.io/2013/pandas-json)

In [37]:
df = pd.read_json('../APIs/yahoo_weather.json')
df

                                                         query
count                                                        1
created                                   2017-07-29T23:51:25Z
diagnostics  {'publiclyCallable': 'true', 'url': {'executio...
lang                                                     en-US
results      {'channel': {'units': {'distance': 'mi', 'pres...

_Not much of a dataframe. Let's re-read and nomralize, drilling into the results section._

Read file with json Library. Source: [Scott Robinson's Stack Abuse Article ](http://stackabuse.com/reading-and-writing-json-to-a-file-in-python/)

In [38]:
with open('../APIs/yahoo_weather.json') as json_file:
  raw_json = json.load(json_file)

yahoo_weather_df = json_normalize(raw_json['query']) 
yahoo_weather_df

,count,created,diagnostics.build-version,diagnostics.publiclyCallable,diagnostics.service-time,diagnostics.url.content,diagnostics.url.execution-start-time,diagnostics.url.execution-stop-time,diagnostics.url.execution-time,diagnostics.user-time,...,results.channel.location.region,results.channel.title,results.channel.ttl,results.channel.units.distance,results.channel.units.pressure,results.channel.units.speed,results.channel.units.temperature,results.channel.wind.chill,results.channel.wind.direction,results.channel.wind.speed
0,1,2017-07-29T23:51:25Z,2.0.164,true,4,http://weather-ydn-yql.media.yahoo.com:4080/v3...,1,5,4,6,...,CA,"Yahoo! Weather - Sunnyvale, CA, US",60,mi,in,mph,F,75,355,18

_One row, 50 columns. Let's look at data types._

In [39]:
yahoo_weather_df.dtypes

count                                     int64
created                                  object
diagnostics.build-version                object
diagnostics.publiclyCallable             object
diagnostics.service-time                 object
diagnostics.url.content                  object
diagnostics.url.execution-start-time     object
diagnostics.url.execution-stop-time      object
diagnostics.url.execution-time           object
diagnostics.user-time                    object
lang                                     object
results.channel.astronomy.sunrise        object
results.channel.astronomy.sunset         object
results.channel.atmosphere.humidity      object
results.channel.atmosphere.pressure      object
results.channel.atmosphere.rising        object
results.channel.atmosphere.visibility    object
results.channel.description              object
results.channel.image.height             object
results.channel.image.link               object
results.channel.image.title              object
results.channel.image.url                object
results.channel.image.width              object
results.channel.item.condition.code      object
results.channel.item.condition.date      object
results.channel.item.condition.temp      object
results.channel.item.condition.text      object
results.channel.item.description         object
results.channel.item.forecast            object
results.channel.item.guid.isPermaLink    object
results.channel.item.lat                 object
results.channel.item.link                object
results.channel.item.long                object
results.channel.item.pubDate             object
results.channel.item.title               object
results.channel.language                 object
results.channel.lastBuildDate            object
results.channel.link                     object
results.channel.location.city            object
results.channel.location.country         object
results.channel.location.region          object
results.channel.title                    object
results.channel.ttl                      object
results.channel.units.distance           object
results.channel.units.pressure           object
results.channel.units.speed              object
results.channel.units.temperature        object
results.channel.wind.chill               object
results.channel.wind.direction           object
results.channel.wind.speed               object
dtype: object

_That's a lot of data, all of type object. For the Yahoo Weather API, most of the good stuff lives in_ results.channel
_Let's dig deeper_

In [40]:
with open('../APIs/yahoo_weather.json') as json_file:
  raw_json = json.load(json_file)

yahoo_weather_df = json_normalize(raw_json['query']['results']['channel']) 
yahoo_weather_df

,astronomy.sunrise,astronomy.sunset,atmosphere.humidity,atmosphere.pressure,atmosphere.rising,atmosphere.visibility,description,image.height,image.link,image.title,...,location.region,title,ttl,units.distance,units.pressure,units.speed,units.temperature,wind.chill,wind.direction,wind.speed
0,6:10 am,8:19 pm,58,1006.0,0,16.1,"Yahoo! Weather for Sunnyvale, CA, US",18,http://weather.yahoo.com,Yahoo! Weather,...,CA,"Yahoo! Weather - Sunnyvale, CA, US",60,mi,in,mph,F,75,355,18

_Looking more like a dataframe.  Let's look at fields & datatypes_

In [41]:
yahoo_weather_df.dtypes

astronomy.sunrise        object
astronomy.sunset         object
atmosphere.humidity      object
atmosphere.pressure      object
atmosphere.rising        object
atmosphere.visibility    object
description              object
image.height             object
image.link               object
image.title              object
image.url                object
image.width              object
item.condition.code      object
item.condition.date      object
item.condition.temp      object
item.condition.text      object
item.description         object
item.forecast            object
item.guid.isPermaLink    object
item.lat                 object
item.link                object
item.long                object
item.pubDate             object
item.title               object
language                 object
lastBuildDate            object
link                     object
location.city            object
location.country         object
location.region          object
title                    object
ttl                      object
units.distance           object
units.pressure           object
units.speed              object
units.temperature        object
wind.chill               object
wind.direction           object
wind.speed               object
dtype: object

_Everything's an object.  If we want to do any real analysis, we're going to need to do some type conversion. Also note, that the field names have a hierarchy to them.  So maybe we can drill deeper into just the fields we want_

_Drill Down: atmosphere_

In [42]:
with open('../APIs/yahoo_weather.json') as json_file:
  raw_json = json.load(json_file)

yahoo_weather_atmosphere_df = json_normalize(raw_json['query']['results']['channel']['atmosphere']) 
yahoo_weather_atmosphere_df

  humidity pressure rising visibility
0       58   1006.0      0       16.1

_Drill Down: image_

In [43]:
with open('../APIs/yahoo_weather.json') as json_file:
  raw_json = json.load(json_file)

yahoo_weather_image_df = json_normalize(raw_json['query']['results']['channel']['image']) 
yahoo_weather_image_df

,height,link,title,url,width
0,18,http://weather.yahoo.com,Yahoo! Weather,http://l.yimg.com/a/i/brand/purplelogo//uh/us/...,142

_Drill Down: item_

In [44]:
with open('../APIs/yahoo_weather.json') as json_file:
  raw_json = json.load(json_file)

yahoo_weather_item_df = json_normalize(raw_json['query']['results']['channel']['item']) 
yahoo_weather_item_df

,condition.code,condition.date,condition.temp,condition.text,description,forecast,guid.isPermaLink,lat,link,long,pubDate,title
0,32,"Sat, 29 Jul 2017 04:00 PM PDT",75,Sunny,"<![CDATA[<img src=""http://l.yimg.com/a/i/us/we...","[{'code': '34', 'date': '29 Jul 2017', 'day': ...",false,37.371609,http://us.rd.yahoo.com/dailynews/rss/weather/C...,-122.038254,"Sat, 29 Jul 2017 04:00 PM PDT","Conditions for Sunnyvale, CA, US at 04:00 PM PDT"

_Drill Down: item.forecast_

In [45]:
with open('../APIs/yahoo_weather.json') as json_file:
  raw_json = json.load(json_file)

yahoo_weather_forecast_df = json_normalize(raw_json['query']['results']['channel']['item']['forecast']) 
yahoo_weather_forecast_df

  code         date  day high low           text
0   34  29 Jul 2017  Sat   78  58   Mostly Sunny
1   32  30 Jul 2017  Sun   84  60          Sunny
2   32  31 Jul 2017  Mon   87  61          Sunny
3   32  01 Aug 2017  Tue   88  64          Sunny
4   34  02 Aug 2017  Wed   90  66   Mostly Sunny
5   30  03 Aug 2017  Thu   88  68  Partly Cloudy
6   34  04 Aug 2017  Fri   88  67   Mostly Sunny
7   32  05 Aug 2017  Sat   86  66          Sunny
8   34  06 Aug 2017  Sun   83  63   Mostly Sunny
9   34  07 Aug 2017  Mon   79  61   Mostly Sunny

_Drill Down:condition_

In [46]:
with open('../APIs/yahoo_weather.json') as json_file:
  raw_json = json.load(json_file)

yahoo_weather_conditions_df = json_normalize(raw_json['query']['results']['channel']['item']['condition']) 
yahoo_weather_conditions_df

  code                           date temp   text
0   32  Sat, 29 Jul 2017 04:00 PM PDT   75  Sunny

In [47]:
yahoo_weather_conditions_df.dtypes

code    object
date    object
temp    object
text    object
dtype: object

_Drill Down: wind_

In [48]:
with open('../APIs/yahoo_weather.json') as json_file:
  raw_json = json.load(json_file)

yahoo_weather_atmosphere_df = json_normalize(raw_json['query']['results']['channel']['wind']) 
yahoo_weather_atmosphere_df

  chill direction speed
0    75       355    18

# Exploring JSON from the Open Weather Map API

In [49]:
!pwd
! ls ../APIs
! cat ../APIs/openweathermap.json

/home/vagrant/git/BigData/democratizing_weather_data/democratizing_weather_data/streaming/prototypes
2yahoo.json	     wsdot.TrafficFlows.json  yahoo_weather1line.json
API_index.csv	     wsdot.Traveltimes.json   yahoo_weather2.json
openweathermap.json  yahoo_weather	      yahoo_weather.json
{
    "coord": {
        "lon": 139.01,
        "lat": 35.02
    },
    "weather": [
        {
            "id": 800,
            "main": "Clear",
            "description": "clear sky",
            "icon": "01n"
        }
    ],
    "base": "stations",
    "main": {
        "temp": 285.514,
        "pressure": 1013.75,
        "humidity": 100,
        "temp_min": 285.514,
        "temp_max": 285.514,
        "sea_level": 1023.22,
        "grnd_level": 1013.75
    },
    "wind": {
        "speed": 5.52,
        "deg": 311
    },
    "clouds": {
        "all": 0
    },
    "dt": 1485792967,
    "sys": {
        "message": 0.0025,
        "country": "JP",
        "sunrise": 1485726240,
        "sunset": 1485763863
    },
    "id": 1907296,
    "name": "Tawarano",
    "cod": 200
}

In [50]:
with open('../APIs/openweathermap.json') as json_file:
  raw_json = json.load(json_file)

openweathermap_df = json_normalize(raw_json) 
openweathermap_df

,base,clouds.all,cod,coord.lat,coord.lon,dt,id,main.grnd_level,main.humidity,main.pressure,...,main.temp_max,main.temp_min,name,sys.country,sys.message,sys.sunrise,sys.sunset,weather,wind.deg,wind.speed
0,stations,0,200,35.02,139.01,1485792967,1907296,1013.75,100,1013.75,...,285.514,285.514,Tawarano,JP,0.0025,1485726240,1485763863,"[{'id': 800, 'main': 'Clear', 'description': '...",311,5.52

In [51]:
openweathermap_df.dtypes

base                object
clouds.all           int64
cod                  int64
coord.lat          float64
coord.lon          float64
dt                   int64
id                   int64
main.grnd_level    float64
main.humidity        int64
main.pressure      float64
main.sea_level     float64
main.temp          float64
main.temp_max      float64
main.temp_min      float64
name                object
sys.country         object
sys.message        float64
sys.sunrise          int64
sys.sunset           int64
weather             object
wind.deg             int64
wind.speed         float64
dtype: object

_May of the data types are already numeric.  Pretty cool. Let's dive into the weather object._

In [52]:
with open('../APIs/openweathermap.json') as json_file:
  raw_json = json.load(json_file)

openweathermap_weather_df = json_normalize(raw_json['weather']) 
openweathermap_weather_df

  description icon   id   main
0   clear sky  01n  800  Clear

# One folder, one dataframe from multiple json files

The yahoo\_weather sufolder contains two json files from the Yahoo weather API.  We've moved all the linefeeds, but that won't affect our ability to make dataframes

In [53]:
! ls -1 ../APIs/yahoo_weather

yahoo_weather1line.json
yahoo_weather2.json

_Uncomment the lines below to see the contets of the files_

In [54]:
#! head ../APIs/yahoo_weather/yahoo_weather1line.json

#! echo ""
#! echo "===== NEXT FILE ==="
#! echo ""

#! cat ../APIs/yahoo_weather/yahoo_weather2.json

In [55]:
top_folder = "../APIs/yahoo_weather"
first_time = True

for filename in os.listdir(top_folder):
    filepath = top_folder + "/" + filename

    with open(filepath) as json_file:
      raw_json = json.load(json_file)

    new_json = json_normalize(raw_json['query']['results']['channel']['atmosphere'])
    
    if (first_time):
        first_time = False
        multifile_df = new_json
    else:
        multifile_df = multifile_df.append(new_json, ignore_index=True)
    
multifile_df

  humidity pressure rising visibility
0       44   1019.0      0       16.1
1       58   1006.0      0       16.1

In [136]:
# !ls ../../../../../../from_bitnami/json
# !head ../../../../../../from_bitnami/json/2017-08-13-22-38-57
df = pd.read_json('../../../../../../from_bitnami/json/2017-08-13-22-38-57')
df
df.dtypes

BarometricPressure         float64
Latitude                   float64
Longitude                  float64
PrecipitationInInches      float64
ReadingTime                 object
RelativeHumidity           float64
SkyCoverage                 object
StationID                    int64
StationName                 object
TemperatureInFahrenheit    float64
Visibility                 float64
WindDirection              float64
WindDirectionCardinal       object
WindGustSpeedInMPH         float64
WindSpeedInMPH             float64
dtype: object

In [144]:
top_folder = "../../../../../../from_bitnami/json"
first_time = True

for filename in os.listdir(top_folder):
    filepath = top_folder + "/" + filename

    with open(filepath) as json_file:
      raw_json = json.load(json_file)

    #new_json = json_normalize(raw_json['query']['results']['channel']['atmosphere'])
    new_json = json_normalize(raw_json)
    
    if (first_time):
        first_time = False
        multifile_df = new_json
    else:
        multifile_df = multifile_df.append(new_json, ignore_index=True)
    
multifile_df

,AverageTime,BarometricPressure,CurrentTime,Description,Distance,EndPoint.Description,EndPoint.Direction,EndPoint.Latitude,EndPoint.Longitude,EndPoint.MilePost,...,StationID,StationName,TemperatureInFahrenheit,TimeUpdated,TravelTimeID,Visibility,WindDirection,WindDirectionCardinal,WindGustSpeedInMPH,WindSpeedInMPH
0,31.0,NaN,33.0,Everett to Downtown Seattle using HOV lanes,26.72,I-5 @ University St in Seattle,S,47.609294,-122.331759,165.83,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,2.0,NaN,NaN,NaN,NaN,NaN
1,28.0,NaN,27.0,Downtown Seattle to Everett using HOV lanes,26.94,I-5 @ 41st St in Everett,N,47.924280,-122.265480,192.77,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,3.0,NaN,NaN,NaN,NaN,NaN
2,28.0,NaN,27.0,Downtown Seattle to Everett,26.94,I-5 @ 41st St in Everett,N,47.924280,-122.265480,192.77,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,4.0,NaN,NaN,NaN,NaN,NaN
3,11.0,NaN,11.0,Downtown Bellevue to Issaquah,9.55,I-90 @ Front St in Issaquah,E,47.541799,-122.037396,16.96,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,5.0,NaN,NaN,NaN,NaN,NaN
4,11.0,NaN,11.0,Downtown Bellevue to Issaquah using HOV lanes,9.55,I-90 @ Front St in Issaquah,E,47.541799,-122.037396,16.96,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,6.0,NaN,NaN,NaN,NaN,NaN
5,10.0,NaN,10.0,Issaquah to Downtown Bellevue using HOV lanes,9.48,I-405 @ NE 8th St in Bellevue,N,47.613610,-122.187970,13.60,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,7.0,NaN,NaN,NaN,NaN,NaN
6,12.0,NaN,12.0,Issaquah to Downtown Bellevue,9.48,I-405 @ NE 8th St in Bellevue,N,47.613610,-122.187970,13.60,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,8.0,NaN,NaN,NaN,NaN,NaN
7,26.0,NaN,26.0,Downtown Bellevue to Everett,26.06,I-5 @ 41st St in Everett,N,47.924280,-122.265480,192.77,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,9.0,NaN,NaN,NaN,NaN,NaN
8,27.0,NaN,28.0,Everett to Downtown Bellevue,26.34,I-405 @ NE 8th St in Bellevue,S,47.613800,-122.188920,13.33,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,10.0,NaN,NaN,NaN,NaN,NaN
9,26.0,NaN,26.0,Downtown Bellevue to Everett using HOV lanes,26.06,I-5 @ 41st St in Everett,N,47.924280,-122.265480,192.77,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,11.0,NaN,NaN,NaN,NaN,NaN
10,27.0,NaN,27.0,Everett to Downtown Bellevue using HOV lanes,26.34,I-405 @ NE 8th St in Bellevue,S,47.613800,-122.188920,13.33,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,12.0,NaN,NaN,NaN,NaN,NaN
11,17.0,NaN,34.0,Federal Way to SeaTac,8.82,I-5 @ S 188th St in SeaTac,N,47.438760,-122.269470,152.80,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,13.0,NaN,NaN,NaN,NaN,NaN
12,12.0,NaN,10.0,Federal Way to SeaTac using HOV lanes,8.82,I-5 @ S 188th St in SeaTac,N,47.438760,-122.269470,152.80,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,14.0,NaN,NaN,NaN,NaN,NaN
13,9.0,NaN,9.0,SeaTac to Federal Way using HOV lanes,9.16,I-5 @ S 320th St in Federal Way,S,47.313840,-122.298609,143.64,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,15.0,NaN,NaN,NaN,NaN,NaN
14,9.0,NaN,9.0,SeaTac to Federal Way,9.16,I-5 @ S 320th St in Federal Way,S,47.313840,-122.298609,143.64,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,16.0,NaN,NaN,NaN,NaN,NaN
15,32.0,NaN,47.0,Federal Way to Downtown Seattle,22.15,I-5 @ University St in Seattle,N,47.609294,-122.331759,165.83,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,17.0,NaN,NaN,NaN,NaN,NaN
16,30.0,NaN,23.0,Federal Way to Downtown Seattle using HOV lanes,22.15,I-5 @ University St in Seattle,N,47.609294,-122.331759,165.83,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,18.0,NaN,NaN,NaN,NaN,NaN
17,23.0,NaN,22.0,Downtown Seattle to Federal Way using HOV lanes,22.19,I-5 @ S 320th St in Federal Way,S,47.313840,-122.298609,143.64,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,19.0,NaN,NaN,NaN,NaN,NaN
18,22.0,NaN,22.0,Downtown Seattle to Federal Way,22.19,I-5 @ S 320th St in Federal Way,S,47.313840,-122.298609,143.64,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,20.0,NaN,NaN,NaN,NaN,NaN
19,26.0,NaN,38.0,Downtown Bellevue to Federal Way,24.56,I-5 @ S 320th St in Federal Way,S,47.313840,-122.298609,143.64,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,21.0,NaN,NaN,NaN,NaN,NaN
20,35.0,NaN,51.0,Federal Way to Downtown Bellevue,23.58,I-405 @ NE 8th St in Bellevue,N,47.613610,-122.187970,13.60,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,22.0,NaN,NaN,NaN,NaN,NaN
21,26.0,NaN,29.0,Downtown Bellevue to Federal Way using HOV lanes,24.56,I-5 @ S 320th St in Federal Way,S,47.313840,-122.298609,143.64,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,23.0,NaN,NaN,NaN,NaN,NaN
22,31.0,NaN,27.0,Federal Way to Downtown Bellevue using HOV lanes,23.58,I-405 @ NE 8th St in Bellevue,N,47.613610,-122.187970,13.60,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,24.0,NaN,NaN,NaN,NaN,NaN
23,16.0,NaN,16.0,Downtown Seattle to Lynnwood using HOV lanes,15.73,I-5 @ 196th St SW in Lynnwood,N,47.819545,-122.279109,181.56,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,25.0,NaN,NaN,NaN,NaN,NaN
24,19.0,NaN,22.0,Lynnwood to Downtown Seattle,15.23,I-5 @ University St in Seattle,S,47.609294,-122.331759,165.83,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,26.0,NaN,NaN,NaN,NaN,NaN
25,17.0,NaN,16.0,Downtown Seattle to Lynnwood,15.73,I-5 @ 196th St SW in Lynnwood,N,47.819545,-122.279109,181.56,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,27.0,NaN,NaN,NaN,NaN,NaN
26,0.0,NaN,0.0,Lynnwood to Downtown Seattle using express lan...,0.00,I-5 @ University St in Seattle,N,47.609294,-122.331759,165.83,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,28.0,NaN,NaN,NaN,NaN,NaN
27,0.0,NaN,0.0,Lynnwood to Downtown Seattle using express lanes,0.00,I-5 @ University St in Seattle,N,47.609294,-122.331759,165.83,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,29.0,NaN,NaN,NaN,NaN,NaN
28,17.0,NaN,18.0,Renton to Downtown Seattle using HOV lanes,13.77,I-5 @ University St in Seattle,N,47.609294,-122.331759,165.83,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,30.0,NaN,NaN,NaN,NaN,NaN
29,14.0,NaN,15.0,Downtown Seattle to Renton using HOV lanes,13.61,I-405 @ SR 167 in Renton,N,47.467434,-122.219631,2.21,...,NaN,NaN,NaN,/Date(1502665800000-0700)/,31.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3007.0,Metaline Fall on SR31@MP16.69,65.0,NaN,NaN,None,135.0,SE,5.0,2.0
2081,NaN,998.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3038.0,I-90 at Sunset,NaN,NaN,NaN,None,140.0,SE,2.0,1.0
2082,NaN,987.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3110.0,Prosser,83.0,NaN,NaN,None,316.0,NE,0.0,0.0
2083,NaN,976.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3111.0,Parker,84.0,NaN,NaN,None,97.0,E,4.0,2.0
2084,NaN,977.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3112.0,Union Gap,82.0,NaN,NaN,None,258.0,W,8.0,5.0
2085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3113.0,Zillah,82.0,NaN,NaN,None,215.0,SW,6.0,4.0
2086,NaN,981.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3114.0,Outlook,83.0,NaN,NaN,None,215.0,SW,0.0,0.0
2087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3234.0,Nisqually on I-5 @ MP 116,72.0,NaN,NaN,None,235.0,SW,8.0,6.0
2088,NaN,874.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3235.0,Loup Loup Pass on SR 20,71.0,NaN,NaN,None,248.0,SW,9.0,1.0
2089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3265.0,Hood Canal Bridge,64.0,NaN,NaN,None,NaN,N/A,NaN,NaN
2090,NaN,1015.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3267.0,MOUNT VERNON,68.0,NaN,NaN,None,0.0,N,0.0,0.0
2091,NaN,1000.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3268.0,SR526 INTERCHANGE,65.0,NaN,NaN,None,350.0,N,16.0,9.0
2092,NaN,926.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3269.0,SR2 @ I-5 INTERCHANGE EVERETT,71.0,NaN,NaN,None,275.0,W,20.0,10.0
2093,NaN,1012.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3270.0,STILLIGUAMISH RIVER,66.0,NaN,NaN,None,336.0,NE,0.0,0.0
2094,NaN,996.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3271.0,INDEX GALENA ROAD,63.0,NaN,NaN,None,280.0,W,4.0,2.0
2095,NaN,882.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3273.0,SR240 @ Beloit,84.0,NaN,NaN,None,295.0,NE,14.0,6.0
2096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3274.0,SR240 @ Mid Hanford,87.0,NaN,NaN,None,225.0,SW,12.0,4.0
2097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3275.0,SR240 @ SR225 Horn Rd,83.0,NaN,NaN,None,170.0,S,17.0,9.0
2098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3276.0,SR240 @ Twin Bridges,83.0,NaN,NaN,None,165.0,S,18.0,12.0
2099,NaN,1011.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3277.0,"SR 18 @ C St, Auburn",71.0,NaN,NaN,None,295.0,NE,6.0,2.0
2100,NaN,605.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3295.0,SR12 @ Frenchtown Rd MP 328.75,80.0,NaN,NaN,None,0.0,N,0.0,0.0
2101,NaN,1003.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3752.0,I-5 at I-405,65.0,NaN,NaN,None,355.0,N,15.0,10.0
2102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3776.0,GRAND MOUND,70.0,NaN,NaN,None,319.0,NE,9.0,6.0
2103,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3814.0,SR 520 Bridge,67.0,NaN,NaN,None,1.0,N,13.0,11.0
2104,NaN,973.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3830.0,SR 7 @ SR 706 Elbe,67.0,NaN,NaN,None,295.0,NE,8.0,2.0
2105,NaN,1011.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3832.0,SR 539 at SR 546 (Badger Rd),71.0,NaN,NaN,None,205.0,SW,16.0,13.0
2106,NaN,1012.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3833.0,SR 539 at SR 544 (Pole Rd),73.0,NaN,NaN,None,185.0,S,15.0,9.0
2107,NaN,1013.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3841.0,SR 522 at Main St,67.0,NaN,NaN,None,60.0,NE,9.0,5.0
2108,NaN,1014.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3852.0,SR 167 at S 277th St,74.0,NaN,NaN,None,275.0,W,12.0,6.0
2109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3854.0,Tacoma Narrows Bridge,NaN,NaN,NaN,None,183.0,S,12.0,5.0

In [56]:
multifile_df.dtypes

humidity      object
pressure      object
rising        object
visibility    object
dtype: object

# One file, multiple json objects

_File 2yahoo.json contains two json objects from the yahoo weather api.  Each object has had newlines removed, so it only occupies one line of text. Uncomment the line below to have a look._

In [57]:
# !cat ../APIs/2yahoo.json

_The linux word count (wc) with the line (-l) option can count the lines int he file)_

In [58]:
!wc -l < ../APIs/2yahoo.json

2

_Read the json file into a dataframe ... what do we get?_

In [59]:
df3 = pd.read_json('../APIs/2yahoo.json', lines=True)
df3

                                               query
0  {'count': 1, 'created': '2017-07-29T23:51:25Z'...
1  {'count': 1, 'created': '2017-08-01T02:14:07Z'...

_... not much.  Nice that we got a mulit-row dataframe, but this json needs to be normalized to be useful_

Code is pretty similar to the multi-file case, just using json.loads() instead of json.load()
Source: [Stack Overflow](https://stackoverflow.com/questions/8009882/how-to-read-large-file-line-by-line-in-python)

In [60]:
first_time = True

with open('../APIs/2yahoo.json') as f_one_json_per_line:
    for line in f_one_json_per_line:
        raw_json = json.loads(line)
        new_json = json_normalize(raw_json['query']['results']['channel']['atmosphere'])
        
        if (first_time):
            first_time = False
            multiline_df = new_json
        else:
            multiline_df = multiline_df.append(new_json, ignore_index=True)
        
multiline_df

  humidity pressure rising visibility
0       58   1006.0      0       16.1
1       44   1019.0      0       16.1

# WSDOT Exploring Weather Data

In [61]:
# wsdot_Weather_df = pd.read_json('../APIs/wsdot.Traveltimes.json')
# wsdot_TravelTimes_df

# WSDOT Exploring Transportation Data

_Begin by loading the WSDOT Transportaiton Traveltims json file_

In [66]:
wsdot_TravelTimes_df = pd.read_json('../APIs/wsdot.Traveltimes.json')
wsdot_TravelTimes_df

,AverageTime,CurrentTime,Description,Distance,EndPoint,Name,StartPoint,TimeUpdated,TravelTimeID
0,30,33,Everett to Downtown Seattle using HOV lanes,26.72,{'Description': 'I-5 @ University St in Seattl...,HOV Everett-Seattle (SB AM),"{'Description': 'I-5 @ 41st St in Everett', 'D...",/Date(1500575100000-0700)/,2
1,30,29,Downtown Seattle to Everett using HOV lanes,26.94,"{'Description': 'I-5 @ 41st St in Everett', 'D...",HOV Seattle-Everett (NB PM),{'Description': 'I-5 @ University St in Seattl...,/Date(1500575100000-0700)/,3
2,30,29,Downtown Seattle to Everett,26.94,"{'Description': 'I-5 @ 41st St in Everett', 'D...",Seattle-Everett (NB PM),{'Description': 'I-5 @ University St in Seattl...,/Date(1500575100000-0700)/,4
3,11,11,Downtown Bellevue to Issaquah,9.55,"{'Description': 'I-90 @ Front St in Issaquah',...",Bellevue-Issaquah (EB PM),{'Description': 'I-405 @ NE 8th St in Bellevue...,/Date(1500575100000-0700)/,5
4,11,11,Downtown Bellevue to Issaquah using HOV lanes,9.55,"{'Description': 'I-90 @ Front St in Issaquah',...",HOV Bellevue-Issaquah (EB PM),{'Description': 'I-405 @ NE 8th St in Bellevue...,/Date(1500575100000-0700)/,6
5,10,11,Issaquah to Downtown Bellevue using HOV lanes,9.48,{'Description': 'I-405 @ NE 8th St in Bellevue...,HOV Issaquah-Bellevue (WB AM),"{'Description': 'I-90 @ Front St in Issaquah',...",/Date(1500575100000-0700)/,7
6,12,12,Issaquah to Downtown Bellevue,9.48,{'Description': 'I-405 @ NE 8th St in Bellevue...,Issaquah-Bellevue (WB AM),"{'Description': 'I-90 @ Front St in Issaquah',...",/Date(1500575100000-0700)/,8
7,28,27,Downtown Bellevue to Everett,26.06,"{'Description': 'I-5 @ 41st St in Everett', 'D...",Bellevue-Everett (NB PM),{'Description': 'I-405 @ NE 8th St in Bellevue...,/Date(1500575100000-0700)/,9
8,30,30,Everett to Downtown Bellevue,26.34,{'Description': 'I-405 @ NE 8th St in Bellevue...,Everett-Bellevue (SB AM),"{'Description': 'I-5 @ 41st St in Everett', 'D...",/Date(1500575100000-0700)/,10
9,26,27,Downtown Bellevue to Everett using HOV lanes,26.06,"{'Description': 'I-5 @ 41st St in Everett', 'D...",HOV Bellevue-Everett (NB PM),{'Description': 'I-405 @ NE 8th St in Bellevue...,/Date(1500575100000-0700)/,11
10,28,27,Everett to Downtown Bellevue using HOV lanes,26.34,{'Description': 'I-405 @ NE 8th St in Bellevue...,HOV Everett-Bellevue (SB AM),"{'Description': 'I-5 @ 41st St in Everett', 'D...",/Date(1500575100000-0700)/,12
11,9,9,Federal Way to SeaTac,8.82,"{'Description': 'I-5 @ S 188th St in SeaTac', ...",Federal Way-SeaTac (NB AM),{'Description': 'I-5 @ S 320th St in Federal W...,/Date(1500575100000-0700)/,13
12,9,9,Federal Way to SeaTac using HOV lanes,8.82,"{'Description': 'I-5 @ S 188th St in SeaTac', ...",HOV Federal Way-SeaTac (NB AM),{'Description': 'I-5 @ S 320th St in Federal W...,/Date(1500575100000-0700)/,14
13,9,9,SeaTac to Federal Way using HOV lanes,9.16,{'Description': 'I-5 @ S 320th St in Federal W...,HOV SeaTac-Federal Way (SB PM),"{'Description': 'I-5 @ S 188th St in SeaTac', ...",/Date(1500575100000-0700)/,15
14,10,10,SeaTac to Federal Way,9.16,{'Description': 'I-5 @ S 320th St in Federal W...,SeaTac-Federal Way (SB PM),"{'Description': 'I-5 @ S 188th St in SeaTac', ...",/Date(1500575100000-0700)/,16
15,31,31,Federal Way to Downtown Seattle,22.15,{'Description': 'I-5 @ University St in Seattl...,Federal Way-Seattle (NB AM),{'Description': 'I-5 @ S 320th St in Federal W...,/Date(1500575100000-0700)/,17
16,26,27,Federal Way to Downtown Seattle using HOV lanes,22.15,{'Description': 'I-5 @ University St in Seattl...,HOV Federal Way-Seattle (NB AM),{'Description': 'I-5 @ S 320th St in Federal W...,/Date(1500575100000-0700)/,18
17,23,22,Downtown Seattle to Federal Way using HOV lanes,22.19,{'Description': 'I-5 @ S 320th St in Federal W...,HOV Seattle-Federal Way (SB PM),{'Description': 'I-5 @ University St in Seattl...,/Date(1500575100000-0700)/,19
18,23,23,Downtown Seattle to Federal Way,22.19,{'Description': 'I-5 @ S 320th St in Federal W...,Seattle-Federal Way (SB PM),{'Description': 'I-5 @ University St in Seattl...,/Date(1500575100000-0700)/,20
19,32,28,Downtown Bellevue to Federal Way,24.56,{'Description': 'I-5 @ S 320th St in Federal W...,Bellevue-Federal Way (SB PM),{'Description': 'I-405 @ NE 8th St in Bellevue...,/Date(1500575100000-0700)/,21
20,35,32,Federal Way to Downtown Bellevue,23.58,{'Description': 'I-405 @ NE 8th St in Bellevue...,Federal Way-Bellevue (NB AM),{'Description': 'I-5 @ S 320th St in Federal W...,/Date(1500575100000-0700)/,22
21,25,26,Downtown Bellevue to Federal Way using HOV lanes,24.56,{'Description': 'I-5 @ S 320th St in Federal W...,HOV Bellevue-Federal Way (SB PM),{'Description': 'I-405 @ NE 8th St in Bellevue...,/Date(1500575100000-0700)/,23
22,25,24,Federal Way to Downtown Bellevue using HOV lanes,23.58,{'Description': 'I-405 @ NE 8th St in Bellevue...,HOV Federal Way-Bellevue (NB AM),{'Description': 'I-5 @ S 320th St in Federal W...,/Date(1500575100000-0700)/,24
23,18,17,Downtown Seattle to Lynnwood using HOV lanes,15.73,{'Description': 'I-5 @ 196th St SW in Lynnwood...,HOV Seattle-Lynnwood (NB PM),{'Description': 'I-5 @ University St in Seattl...,/Date(1500575100000-0700)/,25
24,20,26,Lynnwood to Downtown Seattle,15.23,{'Description': 'I-5 @ University St in Seattl...,Lynnwood-Seattle (SB AM),{'Description': 'I-5 @ 196th St SW in Lynnwood...,/Date(1500575100000-0700)/,26
25,18,17,Downtown Seattle to Lynnwood,15.73,{'Description': 'I-5 @ 196th St SW in Lynnwood...,Seattle-Lynnwood (NB PM),{'Description': 'I-5 @ University St in Seattl...,/Date(1500575100000-0700)/,27
26,0,0,Lynnwood to Downtown Seattle using express lan...,0.00,{'Description': 'I-5 @ University St in Seattl...,HOV Lynnwood-Seattle (SB REV),{'Description': 'I-5 @ 196th St SW in Lynnwood...,/Date(1500575100000-0700)/,28
27,0,0,Lynnwood to Downtown Seattle using express lanes,0.00,{'Description': 'I-5 @ University St in Seattl...,Lynnwood-Seattle (SB REV),{'Description': 'I-5 @ 196th St SW in Lynnwood...,/Date(1500575100000-0700)/,29
28,18,19,Renton to Downtown Seattle using HOV lanes,13.77,{'Description': 'I-5 @ University St in Seattl...,HOV Renton-Seattle (NB AM),"{'Description': 'I-405 @ SR 167 in Renton', 'D...",/Date(1500575100000-0700)/,30
29,14,14,Downtown Seattle to Renton using HOV lanes,13.61,"{'Description': 'I-405 @ SR 167 in Renton', 'D...",HOV Seattle-Renton (SB PM),{'Description': 'I-5 @ University St in Seattl...,/Date(1500575100000-0700)/,31
...,...,...,...,...,...,...,...,...,...
150,26,32,Camas to Rose Quarter,21.15,{'Description': 'I-5 and I-84 JCT in Portland'...,Camas to Rose Quarter via 205 and I-84,"{'Description': 'SR14 and Union St in Camas', ...",/Date(1500574800000-0700)/,361
151,11,16,Clark County Fairgrounds to Delta Park,10.82,"{'Description': 'I-5 Delta Park in Portland', ...",Clark County Fairgrounds to Delta Park,{'Description': 'I-5 SB and 179th St in Vancou...,/Date(1500574800000-0700)/,362
152,14,17,Clark County Fairgrounds to Portland Internati...,14.32,{'Description': 'I-205 and Airport Way in Port...,Clark County Fairgrounds to Portland Internati...,{'Description': 'I-5 and 179th St in Vancouver...,/Date(1500574800000-0700)/,363
153,20,35,Clark County Fairgrounds to Rose Quarter,15.66,{'Description': 'I-5 and Rose Quarter in Portl...,Clark County Fairgrounds to Rose Quarter,{'Description': 'I-5 and 179th St in Vancouver...,/Date(1500574800000-0700)/,364
154,11,15,Delta Park to Clark County Fairgrounds,10.36,{'Description': 'I-5 and 179th St in Vancouver...,Delta Park to Clark County Fairgrounds,"{'Description': 'Delta Park in Portland', 'Dir...",/Date(1500574800000-0700)/,365
155,11,16,Fremont Bridge to Hazel Dell,9.28,{'Description': 'I-5 and 78th St Hazel Dell in...,Fremont Bridge to Hazel Dell,"{'Description': 'Fremont Bridge in Portland', ...",/Date(1500574800000-0700)/,366
156,17,27,I-405-US 26 to Hazel Dell,12.71,{'Description': 'I-5 and 78th St Hazel Dell in...,I-405-US 26 to Hazel Dell,"{'Description': 'I-405/US26 in Portland', 'Dir...",/Date(1500574800000-0700)/,367
157,8,8,I-84 to Mill Plain,7.02,"{'Description': 'Mill Plain in Vancouver', 'Di...",I-84 to Mill Plain via 205,"{'Description': 'I-84 in Portland', 'Direction...",/Date(1500574800000-0700)/,368
158,15,15,Portland International Airport Exit to Clark C...,14.46,"{'Description': 'Clark County Fairgrounds', 'D...",Portland International Airport Exit to Clark C...,{'Description': 'Portland International Airpor...,/Date(1500574800000-0700)/,369
159,23,30,Rose Quarter to Camas,21.12,"{'Description': 'Camas', 'Direction': 'E', 'La...",Rose Quarter to Camas via 1-5,"{'Description': 'Rose Quarter in Portland', 'D...",/Date(1500574800000-0700)/,370
160,24,25,Rose Quarter to Camas,20.97,"{'Description': 'Camas', 'Direction': 'E', 'La...",Rose Quarter to Camas via 1-84,"{'Description': 'Rose Quarter in Portland', 'D...",/Date(1500574800000-0700)/,371
161,18,25,Rose Quarter to Clark County Fairgrounds,15.76,{'Description': 'I-5 and 179th St in Vancouver...,Rose Quarter to Clark County Fairgrounds via 1-5,"{'Description': 'Rose Quarter in Portland', 'D...",/Date(1500574800000-0700)/,372
162,38,42,Tualatin OR to Salmon Creek WA,35.05,"{'Description': 'Salmon Creek WA', 'Direction'...",Tualatin OR to Salmon Creek WA - via 205,"{'Description': 'Tualatin OR', 'Direction': 'N...",/Date(1500574800000-0700)/,373
163,36,47,Tualatin OR to Salmon Creek WA,28.34,{'Description': 'I-5 and 134th St in Vancouver...,Tualatin OR to Salmon Creek WA via 1-5,"{'Description': 'Tualatin OR in Portland', 'Di...",/Date(1500574800000-0700)/,374
164,10,23,63rd St to I-5/I-405 Jct.,8.03,{'Description': 'I-5 and I-405 JCT in Portland...,I-5 SB and 63rd to I-405 JCT North,"{'Description': 'I-5 and 63rd in Vancouver', '...",/Date(1500574800000-0700)/,375
165,16,28,63rd to US-26 West,12.14,"{'Description': 'US26 in Portland', 'Direction...",I-5 SB and 63rd to US26,{'Description': 'I-5 SB and 63rd in Vancouver'...,/Date(1500574800000-0700)/,376
166,10,10,I-5 and Fourth Plain to SR 502,10.26,"{'Description': 'I-5 and SR 502', 'Direction':...",I-5 and Fourth Plain to SR 502,"{'Description': 'I-5 and Fourth Plain', 'Direc...",/Date(1500574800000-0700)/,377
167,26,37,I-205 SB and 18th St to SR14 to I-5 to I-84 JCT,15.74,{'Description': 'I-5 and I-84 JCT in Portland'...,I-205 SB and 18th St to SR14 to I-5 to I-84 JCT,{'Description': 'I-205 SB and 18th St to SR14 ...,/Date(1500574800000-0700)/,378
168,20,26,I-205 SB and 18th St to I-84 to I-5 JCT,14.51,"{'Description': 'I-84 to I-5 JCT', 'Direction'...",I-205 SB and 18th St to I-84 to I-5 JCT,{'Description': 'I-205 SB and 18th St in Vanco...,/Date(1500574800000-0700)/,379
169,10,12,Federal Way (320th) to Tacoma Dome,9.55,"{'Description': 'I-5 @ Tacoma Dome MP 134', 'D...",Federal Way-Tacoma (SB PM),{'Description': 'I-5 @ Federal Way VMS MP 145....,/Date(1500575100000-0700)/,382
170,22,35,SR14 and Cascade Pk to I-5 and I-84 JCT,14.90,{'Description': 'I-5 and I-84 JCT in Portland'...,019 SR14 and Cascade Pk to I-5 and I-84 JCT,{'Description': 'SR14 and Cascade Park in Vanc...,/Date(1500574800000-0700)/,384
171,24,25,SR14 and Cascade Pk to I-205 to I-5 and I-84 JCT,14.22,{'Description': 'I-5 and I-84 JCT in Portland'...,020 SR14 and Cascade Pk to I-205 to I-5 and I-...,{'Description': 'SR14 and Cascade Park in Vanc...,/Date(1500574800000-0700)/,385
172,9,9,EB SR 16 Olympic Dr WB To EB SR 16 Sprague EB ...,8.38,{'Description': 'SR 16 @ Sprague EB On Ramp in...,"EB SR 16, Olympic Dr To I-5 Jct",{'Description': 'SR 16 @ Olympic Dr WB in Gig ...,/Date(1500575100000-0700)/,386
173,3,3,EB SR 16 Olympic Dr WB To TNB-West,2.66,{'Description': 'SR 16 @ TNB-West in Gig Harbo...,"EB SR 16, Olympic Dr To TNB-West",{'Description': 'SR 16 @ Olympic Dr WB in Gig ...,/Date(1500575100000-0700)/,387
174,21,19,SB I-5 Port of Tacoma To JBLM Main Gate,15.70,"{'Description': 'I-5 @ JBLM Main Gate', 'Direc...","SB I-5, PoT To JBLM Main Gate","{'Description': 'I-5 @ PoT in Tacoma', 'Direct...",/Date(1500575100000-0700)/,388
175,6,5,SB I-5 Port of Tacoma To SR 16,3.83,"{'Description': 'I-5 @ SR 16 in Tacoma', 'Dire...","SB I-5, PoT To SR 16","{'Description': 'I-5 @ PoT in Tacoma', 'Direct...",/Date(1500575100000-0700)/,389
176,13,12,SB I-5 Port of Tacoma To SR 512,9.39,"{'Description': 'I-5 @ SR 512 in Lakewood', 'D...","SB I-5, PoT To SR 512","{'Description': 'I-5 @ PoT in Tacoma', 'Direct...",/Date(1500575100000-0700)/,390
177,33,27,SB I-5 Pierce King County Line To JBLM Main Gate,18.37,"{'Description': 'I-5 @ JBLM Main Gate', 'Direc...","SB I-5, PKCL To JBLM Main Gate",{'Description': 'I-5 @ Pierce King County Line...,/Date(1500575100000-0700)/,401
178,18,14,SB I-5 Pierce King County Line To SR 16,6.50,"{'Description': 'I-5 @ SR 16 in Tacoma', 'Dire...","SB I-5, PKCL To SR 16",{'Description': 'I-5 @ Pierce King County Line...,/Date(1500575100000-0700)/,402
179,27,21,SB I-5 Pierce King County Line To SR 512,12.06,"{'Description': 'I-5 @ SR 512 in Lakewood', 'D...","SB I-5, PKCL To SR 512",{'Description': 'I-5 @ Pierce King County Line...,/Date(1500575100000-0700)/,403

In [67]:
wsdot_TravelTimes_df.dtypes

AverageTime       int64
CurrentTime       int64
Description      object
Distance        float64
EndPoint         object
Name             object
StartPoint       object
TimeUpdated      object
TravelTimeID      int64
dtype: object

_Fairly flat structure; some of the top-lvel types are numeric already. Let's try to crack open the STartpoint and Endpoint, so we can get some lat/long data._  *Note: this code will raise an error

In [68]:
with open('../APIs/wsdot.Traveltimes.json') as json_file:
  raw_json = json.load(json_file)

wsdot_TravelTimes_df = json_normalize(raw_json['StartPoint']) 
wsdot_TravelTimes_df

TypeError: list indices must be integers or slices, not str

_Turns out we need to use row-indexing (below), but that only gets us one row at time._

In [69]:
with open('../APIs/wsdot.Traveltimes.json') as json_file:
  raw_json = json.load(json_file)

wsdot_TravelTimes_df = json_normalize(raw_json[0]['StartPoint'])
print(wsdot_TravelTimes_df)

                Description Direction  Latitude  Longitude  MilePost RoadName
0  I-5 @ 41st St in Everett         S  47.92428 -122.26548    192.55      I-5

In [70]:
wsdot_TravelTimes_df.dtypes

Description     object
Direction       object
Latitude       float64
Longitude      float64
MilePost       float64
RoadName        object
dtype: object

To normalize everything, we need to ....

1. Load the json file as a list of lines, so we can iterate over it.

2. Also load the json file as a raw json object.

3. Iterate over the lines, appendeing each one to a "master" dataframe

In [71]:
# Load the json as a list, so we can iterate over it.
with open('../APIs/wsdot.Traveltimes.json') as json_file:
  file_data = json_file.read()
    
list_json = json.loads(file_data)


# Load the json file as json, so we can normalize it.
with open('../APIs/wsdot.Traveltimes.json') as json_file:
  raw_json = json.load(json_file)


#iterate over the list_json. for each row, normalize the row_json
ii = 0

for travelTime in list_json:
    travel_df = json_normalize(raw_json[ii]['StartPoint'])
    if (ii == 0):
        wsdot_TravelTimesStartPoint_df= json_normalize(raw_json[ii]['StartPoint'])
    else:
        wsdot_TravelTimesStartPoint_df = wsdot_TravelTimesStartPoint_df.append(travel_df, ignore_index=True)
    ii= ii+ 1
   
wsdot_TravelTimesStartPoint_df

,Description,Direction,Latitude,Longitude,MilePost,RoadName
0,I-5 @ 41st St in Everett,S,47.924280,-122.265480,192.55,I-5
1,I-5 @ University St in Seattle,N,47.609294,-122.331759,165.83,I-5
2,I-5 @ University St in Seattle,N,47.609294,-122.331759,165.83,I-5
3,I-405 @ NE 8th St in Bellevue,S,47.613800,-122.188920,13.33,I-405
4,I-405 @ NE 8th St in Bellevue,S,47.613800,-122.188920,13.33,I-405
5,I-90 @ Front St in Issaquah,W,47.541799,-122.037396,16.96,I-90
6,I-90 @ Front St in Issaquah,W,47.541799,-122.037396,16.96,I-90
7,I-405 @ NE 8th St in Bellevue,N,47.613610,-122.187970,13.60,I-405
8,I-5 @ 41st St in Everett,S,47.924280,-122.265480,192.55,I-5
9,I-405 @ NE 8th St in Bellevue,N,47.613610,-122.187970,13.60,I-405
10,I-5 @ 41st St in Everett,S,47.924280,-122.265480,192.55,I-5
11,I-5 @ S 320th St in Federal Way,N,47.315446,-122.296702,143.98,I-5
12,I-5 @ S 320th St in Federal Way,N,47.315446,-122.296702,143.98,I-5
13,I-5 @ S 188th St in SeaTac,S,47.438760,-122.269470,152.80,I-5
14,I-5 @ S 188th St in SeaTac,S,47.438760,-122.269470,152.80,I-5
15,I-5 @ S 320th St in Federal Way,N,47.315446,-122.296702,143.98,I-5
16,I-5 @ S 320th St in Federal Way,N,47.315446,-122.296702,143.98,I-5
17,I-5 @ University St in Seattle,S,47.609294,-122.331759,165.83,I-5
18,I-5 @ University St in Seattle,S,47.609294,-122.331759,165.83,I-5
19,I-405 @ NE 8th St in Bellevue,S,47.613800,-122.188920,13.33,I-405
20,I-5 @ S 320th St in Federal Way,N,47.315446,-122.296702,143.98,I-5
21,I-405 @ NE 8th St in Bellevue,S,47.613800,-122.188920,13.33,I-405
22,I-5 @ S 320th St in Federal Way,N,47.315446,-122.296702,143.98,I-5
23,I-5 @ University St in Seattle,N,47.609294,-122.331759,165.83,I-5
24,I-5 @ 196th St SW in Lynnwood,S,47.817269,-122.285137,181.06,I-5
25,I-5 @ University St in Seattle,N,47.609294,-122.331759,165.83,I-5
26,I-5 @ 196th St SW in Lynnwood,S,47.817269,-122.285137,181.06,I-5
27,I-5 @ 196th St SW in Lynnwood,S,47.817269,-122.285137,181.06,I-5
28,I-405 @ SR 167 in Renton,S,47.467434,-122.219631,2.21,I-405
29,I-5 @ University St in Seattle,S,47.609294,-122.331759,165.83,I-5
...,...,...,...,...,...,...
150,SR14 and Union St in Camas,W,45.580300,-122.385324,14.65,SR 14
151,I-5 SB and 179th St in Vancouver,S,45.754301,-122.663841,9.77,I-5
152,I-5 and 179th St in Vancouver,S,45.754301,-122.663841,9.77,I-5
153,I-5 and 179th St in Vancouver,S,45.754301,-122.663841,9.77,I-5
154,Delta Park in Portland,N,45.611460,-122.679000,307.90,I-5
155,Fremont Bridge in Portland,N,45.547310,-122.678900,303.47,I-5
156,I-405/US26 in Portland,N,45.516880,-122.688000,1.77,I-405
157,I-84 in Portland,N,45.534880,-122.565000,21.68,I-205
158,Portland International Airport Exit,N,45.572100,-122.548000,24.92,I-205
159,Rose Quarter in Portland,N,45.536250,-122.667000,302.50,I-5
160,Rose Quarter in Portland,E,45.520480,-122.665000,0.10,I-84
161,Rose Quarter in Portland,N,45.536250,-122.667000,302.50,I-5
162,Tualatin OR,N,45.372970,-122.730000,1.96,I-205
163,Tualatin OR in Portland,N,45.353550,-122.765000,287.46,I-5
164,I-5 and 63rd in Vancouver,S,45.668141,-122.666701,3.10,I-5
165,I-5 SB and 63rd in Vancouver,S,45.668141,-122.666701,3.10,I-5
166,I-5 and Fourth Plain,N,45.636340,-122.662113,1.41,I-5
167,I-205 SB and 18th St to SR14 to I-5 in Vancouver,S,45.628406,-122.559927,29.87,I-205
168,I-205 SB and 18th St in Vancouver,S,45.640957,-122.563394,29.87,I-205
169,I-5 @ Federal Way VMS MP 145.22,S,47.315327,-122.297855,143.64,I-5
170,SR14 and Cascade Park in Vancouver,W,45.596111,-122.519722,7.72,SR 14
171,SR14 and Cascade Park in Vancouver,W,45.596111,-122.519722,7.72,SR 14
172,SR 16 @ Olympic Dr WB in Gig Harbor,E,47.309330,-122.579790,11.07,SR 16
173,SR 16 @ Olympic Dr WB in Gig Harbor,E,47.309330,-122.579790,11.07,SR 16
174,I-5 @ PoT in Tacoma,S,47.240541,-122.372755,136.74,I-5
175,I-5 @ PoT in Tacoma,S,47.240541,-122.372755,136.74,I-5
176,I-5 @ PoT in Tacoma,S,47.240541,-122.372755,136.74,I-5
177,I-5 @ Pierce King County Line,S,47.255624,-122.331130,139.41,I-5
178,I-5 @ Pierce King County Line,S,47.255624,-122.331130,139.41,I-5
179,I-5 @ Pierce King County Line,S,47.255624,-122.331130,139.41,I-5

In [72]:
wsdot_TravelTimesStartPoint_df.describe()

         Latitude   Longitude    MilePost
count  180.000000  180.000000  180.000000
mean    46.301362 -120.312675   88.487111
std      6.102723   15.708814   80.749049
min      0.000000 -122.891484    0.100000
25%     46.672680 -122.508103   13.330000
50%     47.464051 -122.331130   71.025000
75%     47.613610 -122.206552  165.830000
max     48.152323    0.000000  307.900000

In [73]:
# Load the json as a list, so we can iterate over it.
with open('../APIs/wsdot.Traveltimes.json') as json_file:
  file_data = json_file.read()
    
list_json = json.loads(file_data)


# Load the json file as json, so we can normalize it.
with open('../APIs/wsdot.Traveltimes.json') as json_file:
  raw_json = json.load(json_file)


#iterate over the list_json. for each row, normalize the row_json
ii = 0

for travelTime in list_json:
  travel_df = json_normalize(raw_json[ii]['EndPoint'])
  if (ii == 0):
    wsdot_TravelTimesEndPoint_df= json_normalize(raw_json[ii]['EndPoint'])
  else:
    wsdot_TravelTimesEndPoint_df = wsdot_TravelTimesEndPoint_df.append(travel_df, ignore_index=True)
  ii= ii+ 1
   
wsdot_TravelTimesEndPoint_df

,Description,Direction,Latitude,Longitude,MilePost,RoadName
0,I-5 @ University St in Seattle,S,47.609294,-122.331759,165.83,I-5
1,I-5 @ 41st St in Everett,N,47.924280,-122.265480,192.77,I-5
2,I-5 @ 41st St in Everett,N,47.924280,-122.265480,192.77,I-5
3,I-90 @ Front St in Issaquah,E,47.541799,-122.037396,16.96,I-90
4,I-90 @ Front St in Issaquah,E,47.541799,-122.037396,16.96,I-90
5,I-405 @ NE 8th St in Bellevue,N,47.613610,-122.187970,13.60,I-405
6,I-405 @ NE 8th St in Bellevue,N,47.613610,-122.187970,13.60,I-405
7,I-5 @ 41st St in Everett,N,47.924280,-122.265480,192.77,I-5
8,I-405 @ NE 8th St in Bellevue,S,47.613800,-122.188920,13.33,I-405
9,I-5 @ 41st St in Everett,N,47.924280,-122.265480,192.77,I-5
10,I-405 @ NE 8th St in Bellevue,S,47.613800,-122.188920,13.33,I-405
11,I-5 @ S 188th St in SeaTac,N,47.438760,-122.269470,152.80,I-5
12,I-5 @ S 188th St in SeaTac,N,47.438760,-122.269470,152.80,I-5
13,I-5 @ S 320th St in Federal Way,S,47.313840,-122.298609,143.64,I-5
14,I-5 @ S 320th St in Federal Way,S,47.313840,-122.298609,143.64,I-5
15,I-5 @ University St in Seattle,N,47.609294,-122.331759,165.83,I-5
16,I-5 @ University St in Seattle,N,47.609294,-122.331759,165.83,I-5
17,I-5 @ S 320th St in Federal Way,S,47.313840,-122.298609,143.64,I-5
18,I-5 @ S 320th St in Federal Way,S,47.313840,-122.298609,143.64,I-5
19,I-5 @ S 320th St in Federal Way,S,47.313840,-122.298609,143.64,I-5
20,I-405 @ NE 8th St in Bellevue,N,47.613610,-122.187970,13.60,I-405
21,I-5 @ S 320th St in Federal Way,S,47.313840,-122.298609,143.64,I-5
22,I-405 @ NE 8th St in Bellevue,N,47.613610,-122.187970,13.60,I-405
23,I-5 @ 196th St SW in Lynnwood,N,47.819545,-122.279109,181.56,I-5
24,I-5 @ University St in Seattle,S,47.609294,-122.331759,165.83,I-5
25,I-5 @ 196th St SW in Lynnwood,N,47.819545,-122.279109,181.56,I-5
26,I-5 @ University St in Seattle,N,47.609294,-122.331759,165.83,I-5
27,I-5 @ University St in Seattle,N,47.609294,-122.331759,165.83,I-5
28,I-5 @ University St in Seattle,N,47.609294,-122.331759,165.83,I-5
29,I-405 @ SR 167 in Renton,N,47.467434,-122.219631,2.21,I-405
...,...,...,...,...,...,...
150,I-5 and I-84 JCT in Portland,W,45.525600,-122.660460,0.45,I-84
151,I-5 Delta Park in Portland,S,45.603280,-122.683520,307.35,I-5
152,I-205 and Airport Way in Portland,S,45.571880,-122.550940,24.77,I-205
153,I-5 and Rose Quarter in Portland,S,45.536250,-122.667270,302.51,I-5
154,I-5 and 179th St in Vancouver,N,45.754301,-122.663841,9.76,I-5
155,I-5 and 78th St Hazel Dell in Vancouver,N,45.676544,-122.664559,4.25,I-5
156,I-5 and 78th St Hazel Dell in Vancouver,N,45.676544,-122.664559,4.25,I-5
157,Mill Plain in Vancouver,N,45.621409,-122.559835,28.36,I-205
158,Clark County Fairgrounds,N,45.754301,-122.663841,9.76,I-5
159,Camas,E,45.580300,-122.385324,14.65,SR 14
160,Camas,E,45.580300,-122.385324,14.65,SR 14
161,I-5 and 179th St in Vancouver,N,45.754301,-122.663841,9.76,I-5
162,Salmon Creek WA,N,45.707495,-122.631733,36.67,I-205
163,I-5 and 134th St in Vancouver,N,45.716985,-122.654515,7.30,I-5
164,I-5 and I-405 JCT in Portland,S,45.556320,-122.679010,303.47,I-5
165,US26 in Portland,S,45.513480,-122.667930,1.77,I-405
166,I-5 and SR 502,N,45.781266,-122.672017,11.67,I-5
167,I-5 and I-84 JCT in Portland,S,45.544850,-122.677070,302.17,I-5
168,I-84 to I-5 JCT,W,45.529760,-122.649230,0.45,I-84
169,I-5 @ Tacoma Dome MP 134,S,47.234857,-122.426813,134.09,005
170,I-5 and I-84 JCT in Portland,S,45.532950,-122.666410,302.17,I-5
171,I-5 and I-84 JCT in Portland,W,45.525600,-122.660460,0.45,I-84
172,SR 16 @ Sprague EB On Ramp in Tacoma,E,47.235191,-122.467893,1.00,SR 16
173,SR 16 @ TNB-West in Gig Harbor,E,47.275660,-122.560450,8.41,SR 16
174,I-5 @ JBLM Main Gate,S,47.104937,-122.585386,121.04,I-5
175,I-5 @ SR 16 in Tacoma,S,47.230182,-122.449769,132.91,I-5
176,I-5 @ SR 512 in Lakewood,S,47.161584,-122.481133,127.35,I-5
177,I-5 @ JBLM Main Gate,S,47.104937,-122.585386,121.04,I-5
178,I-5 @ SR 16 in Tacoma,S,47.230182,-122.449769,132.91,I-5
179,I-5 @ SR 512 in Lakewood,S,47.161584,-122.481133,127.35,I-5

In [74]:
wsdot_TravelTimesEndPoint_df.describe()

         Latitude   Longitude    MilePost
count  180.000000  180.000000  180.000000
mean    47.072796 -122.366538   99.269722
std      0.859379    0.241429   89.226318
min     45.353550 -122.891484    0.110000
25%     47.047885 -122.560915   13.330000
50%     47.464051 -122.331759  116.520000
75%     47.613610 -122.219631  165.830000
max     48.152323 -120.599140  307.350000

# Joining Transportation and Weather with geopands
- Gather up the data frames (one weather, one transporattion, both in same proximity)
- Load the geopandas library
- datafraems to geoframes
- do the join

_We have a travel dataframe from WSDOT. It has "Latitude" and "Longituded" cordinate fields_

In [75]:
wsdot_TravelTimesEndPoint_df.head()

,Description,Direction,Latitude,Longitude,MilePost,RoadName
0,I-5 @ University St in Seattle,S,47.609294,-122.331759,165.83,I-5
1,I-5 @ 41st St in Everett,N,47.924280,-122.265480,192.77,I-5
2,I-5 @ 41st St in Everett,N,47.924280,-122.265480,192.77,I-5
3,I-90 @ Front St in Issaquah,E,47.541799,-122.037396,16.96,I-90
4,I-90 @ Front St in Issaquah,E,47.541799,-122.037396,16.96,I-90

_We also have an OpenWeatherMap dataframe. It has "coord.lat" and "coord.lon"_

In [76]:
with open('../APIs/openweathermap.json') as json_file:
  raw_json = json.load(json_file)

openweathermap_df = json_normalize(raw_json) 
openweathermap_df

,base,clouds.all,cod,coord.lat,coord.lon,dt,id,main.grnd_level,main.humidity,main.pressure,...,main.temp_max,main.temp_min,name,sys.country,sys.message,sys.sunrise,sys.sunset,weather,wind.deg,wind.speed
0,stations,0,200,35.02,139.01,1485792967,1907296,1013.75,100,1013.75,...,285.514,285.514,Tawarano,JP,0.0025,1485726240,1485763863,"[{'id': 800, 'main': 'Clear', 'description': '...",311,5.52

In [85]:
openweathermap_df.dtypes

base                object
clouds.all           int64
cod                  int64
coord.lat          float64
coord.lon          float64
dt                   int64
id                   int64
main.grnd_level    float64
main.humidity        int64
main.pressure      float64
main.sea_level     float64
main.temp          float64
main.temp_max      float64
main.temp_min      float64
name                object
sys.country         object
sys.message        float64
sys.sunrise          int64
sys.sunset           int64
weather             object
wind.deg             int64
wind.speed         float64
dtype: object

In [86]:
openweathermap_df.cod

0    200
Name: cod, dtype: int64

In [88]:
openweathermap_df['coord.lat']
#df['Project.Fwd_Primer']

0    35.02
Name: coord.lat, dtype: float64

In [106]:
d = {"age":25}

_Let's convert both of these into geogrames_
Try this from [stackexchange article Convert a pandas DataFrame to a GeoDataFrame](https://gis.stackexchange.com/questions/174159/convert-a-pandas-dataframe-to-a-geodataframe/174168)



from geopandas import GeoDataFrame

from shapely.geometry import Point

geometry = [Point(xy) for xy in zip(df.Lon, df.Lat)]

df = df.drop(['Lon', 'Lat'], axis=1)

crs = {'init': 'epsg:4326'}

geo_df = GeoDataFrame(df, crs=crs, geometry=geometry)

In [122]:
crs = {'init':'espg:4326'}

In [121]:
from geopandas import GeoDataFrame
from shapely.geometry import Point
from __future__ import braces

geometry = [Point(xy) for xy in zip(openweathermap_df['coord.lon'], openweathermap_df['coord.lat'])
#openweathermap_df = openweathermap_df.drop(['coord.lon'], ['coord.lat'], axis=1)
            
crs = {'init':'espg:4326'}

            #crs = dict([("init","epsg:4326")])     

geo_df = GeoDataFrame(openweathermap_df, crs, geometry)
geo_df

SyntaxError: invalid syntax (<ipython-input-121-ffc6bba22afa>, line 8)

Try this from https://geohackweek.github.io/vector/04-geopandas-intro/

In [99]:
gs = GeoSeries([Point(-120, 45), Point(-121.2, 46), Point(-122.9, 47.5)])
gs

NameError: name 'GeoSeries' is not defined

This shows promise
https://stackoverflow.com/questions/37728540/create-a-geodataframe-from-a-geojson-object
    
In [1]: from geojson import Feature, Point, FeatureCollection

In [2]: my_feature = Feature(geometry=Point((1.6432, -19.123)), properties={"country": "Spain"})

In [3]: my_other_feature = Feature(geometry=Point((-80.234, -22.532)), properties={'country': 'Brazil'})

In [4]: collection = FeatureCollection([my_feature, my_other_feature])


In [6]: import geopandas

In [7]: geopandas.GeoDataFrame.from_features(collection['features'])
Out[7]:
  country                 geometry
0   Spain   POINT (1.6432 -19.123)
1  Brazil  POINT (-80.234 -22.532)

In [145]:
from geojson import Feature, Point, FeatureCollection

In [146]:
my_feature = Feature(geometry=Point((1.6432, -19.123)), properties={"country": "Spain"})

In [147]:
my_other_feature = Feature(geometry=Point((-80.234, -22.532)), properties={'country': 'Brazil'})

In [152]:
# collection = FeatureCollection([my_feature, my_other_feature])
collection = FeatureCollection([my_feature])
collection.add(my_other_feature)

AttributeError: add

In [149]:
import geopandas

In [150]:
geopandas.GeoDataFrame.from_features(collection['features'])

  country                            geometry
0   Spain              POINT (1.6432 -19.123)
1  Brazil  POINT (-80.23399999999999 -22.532)

Okay, I think this will work (above). I just have to ....
 - Iterate over my non-geo dataframe.
 - make a feature for each row
 - incrementally add each new feature to a collection
 - make the geopandas data frame

# Future Work
- Figure out how to join and merge stuff (geogson)
- Parse dates from objects into something actionable
- Go back to the tranporation df's, do I really need to load twice?